<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">	<div class="navbar-brand-logo"></div></a>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
  <div class="container-setup" ng-controller="setup-1Ctrl">
    <h2>
      I am sad to here that. Why was it bad?
    </h2>
    <div class="col-md-6">
      <h4>Please select all that apply</h4>  
      <ul class="study-pref">
        <li ng-repeat="community in communites">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="community.name">{{community.name}}</input>   
              </label>
            </div>                  
        </li>         
          
      </ul>
    </div>   

    


  </div>
</div>
